Source: dehydrated
Section: main
Priority: optional
Maintainer: Letsencrypt User <foo@example.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: [none]

Package: dehydrated-
Architecture: all
Pre-Depends: dpkg (>= 1.16.0)
Depends: ${misc:Depends}, bash, grep, coreutils, curl, openssl, openssh-client, ssl-cert
Description: automate generation and renewal of letsencrypt certificates
 This package enables the unattended generation of ssl-certificates
 from letsencrypt.org via the dns-01 challenge and is thus usable also
 for hosts, that are not reachable from the internet. You need ssh-acces 
 to the authorative DNS server for the domains you want to obtain certificates
 for.
